<p>rooms-list works!</p>
RoomList
<table class="table">
  <tr>
    <th>Room number </th>
    <th>Room type</th>
    <th>Room Amenities</th>
    <th>Room Price</th>
    <th>Checkin time</th>
    <th>Select Room</th>
  </tr>
  <tr *ngFor="let room of rooms">
    <td>{{room.roomNumber}}</td>
    <td>{{room.roomType}}</td>
    <td>{{room.amenities}}</td>
    <td>{{room.price}}</td>
    <td>{{room.checkInTime | date: 'short'}}</td>
    <td><button class="btn btn-primary" (click)="selectRoom(room)">
Select
    </button></td>
  </tr>
</table>
