<h1>My first Angular</h1>
<app-rooms></app-rooms>

<!--<div [ngSwitch]="role">-->
<!--  <div *ngSwitchCase="'Admin'">-->
<!--    <app-rooms></app-rooms>-->
<!--  </div>-->
<!--  <div *ngSwitchCase="'user'">-->
<!--    you are welcome user-->
<!--  </div>-->
<!--  <div *ngSwitchDefault>-->
<!--    You cant have access to this-->
<!--  </div>-->
<!--</div>-->

<router-outlet></router-outlet>
