<h1>Welcome to {{hotelName}} hotel Management app</h1>
<div [hidden]="hideRooms">
  Number of Rooms:
  <div [innerText]="numberOfRooms"></div>
</div>

{{rooms?.availableRooms ?? 'No rooms' }}

<div *ngIf="rooms.availableRooms>0">
  <app-rooms-list [rooms]="roomList" (selectedRoom)="selectRoom($event)"></app-rooms-list>
</div>

<button (click)="toggle()">view</button>

